{% extends 'index.html' %}
{% block body %}
<section class="pt-4 container">
	<!-- Content Row -->
							<div class="table-wrapper">
									<div class="table-title">
											<div class="row">
													<div class="col-sm-6">
															<h2>Danh sách lớp học {{id}}: {{siso}}</h2>
															<h2>Chủ nhiệm: {{giaovienchunhhiem}}</h2>
													</div>
											</div>
									</div>
									<table class="table table-striped table-hover">
											<thead>
													<tr>
															<th>STT</th>
															<th>Học sinh</th>
													</tr>
											</thead>
											<tbody>
													{%
															for index in range(numclass)
															
													%}
													<tr>
														<td>{{index+1}}</td>
														<td>
															{% for x in hs %}
																{% if x[0] == classes[index][2] %}
																	{{x[1]}}
																{% endif %}
															
															{% endfor %}
														</td>
													</tr>
													{%endfor%}
											</tbody>
									</table>
							</div>
</section>
{% endblock %}