{% extends 'views/admin/index.html' %} {% block content_block %}
    <!-- Content Row -->
    <div class="row">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>Quản lý<b> Phụ Huynh</b></h2>
            </div>
            <div class="col-sm-6">
              <a href="/admin/add_phuhuyn" class="btn btn-success"
                ><i class="material-icons">&#xE147;</i>
                <span>Thêm phụ huynh</span></a
              >
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Tên</th>
              <th>Sinh năm</th>
              <th>Học sinh</th>
              <th>Năm Sinh học sinh</th>
              <th>Lớp</th>
              <th>Giáo viên</th>
              <th>Số điện thoại</th>
              <th>Giới tính</th>
            </tr>
          </thead>
          <tbody>
            {% for x in phuhuynhs %}
            <tr>
              <td>{{x[2]}}</td>
              <td>{{x[3]}}</td>
              <td>{{x[4]}}</td>
              <td>{{x[5]}}</td>
              <td>{{x[6]}}</td>
              <td>{{x[8]}}</td>
              <td>{{x[7]}}</td>
              <td>
                {% if x[9] == 1 %} nam {%endif%} {% if x[9] == 0 %} nữ {%endif%}
                {% if x[9] == 2 %} khác {%endif%}
              </td>
              <td>
                <div
                  class="delete"
                  data-toggle="modal"
                  onclick="delete_phuhuynh('{{x[0]}}')"
                >
                  <i class="material-icons" data-toggle="tooltip" title="Delete"
                    >&#xE872;</i
                  >
                </div>
                <!-- Logout Modal-->
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="user-form">
            <div class="modal-header">
              <h4 class="modal-title">Thêm phụ huynh</h4>
              <a href="">&times;</a>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Hình ảnh:</label>
                <input type="file" class="form-control" />
                <img id="face" class="hidden" width="100%" />
                <div class="btn form-control" id="showcamera">
                  <i class="fa-solid fa-camera"></i>
                </div>
              </div>
              <div class="form-group">
                <label>Tên</label>
                <input type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label>Năm sinh</label>
                <input type="email" class="form-control" />
              </div>
              <div class="form-group">
                <label>Học sinh:</label>
                <input type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label>Năm sinh học sinh:</label>
                <input type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label>Lớp:</label>
                <input type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label>Giáo viên:</label>
                <input type="text" class="form-control" />
              </div>

              <div class="form-group">
                <label>Phone:</label>
                <input type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label for="gender">Gender:</label>
                <select class="form-control" id="gender" name="gender">
                  <option value="">Select Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancel"
              />
              <input type="submit" class="btn btn-success" value="Add" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h4 class="modal-title">Edit Employee</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Address</label>
                <textarea class="form-control" required></textarea>
              </div>
              <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" required />
              </div>
            </div>
            <div class="modal-footer">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancel"
              />
              <input type="submit" class="btn btn-info" value="Save" />
            </div>
          </form>
        </div>
      </div>

    {% endblock %}
  </div>
</div>
