{% extends 'views/admin/index.html' %} {% block content_block %}
<!-- Content Row -->
<div class="row">
  <div class="table-wrapper" style="width:600px">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Quản lý<b> Lớp học giáo viên</b></h2>
        </div>
        <div class="col-sm-6">
            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Thêm chủ nhiệm</span></a>

        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>STT</th>
          <th>Lớp học</th>
          <th>Giáo viên</th>
          <th>Control</th>
        </tr>
      </thead>
      <tbody>
        {% for index in range(number_teacher_class) %}
        <tr>
          <td>{{index+1}}</td>
          <td>{% for lh in classes %}
            {% if lh[0] == lophoc_giaovien[index][0] %}
              {{lh[1]}}
            {% endif %}
             
            {% endfor %}</td>
          <td>
            {% for x in lophoc_giaovien %}
              {% for y in giaovien %}
                {% if x[1] == y[0] and x[0] == lophoc_giaovien[index][0]%}
                  {{y[1]}}
                {% endif %}
              {% endfor %}

            {% endfor %}
            </td>
          <td>
                <a href={{'#deleteEmployeeModal'+lophoc_giaovien[index][0]|string}} class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                <div id={{'deleteEmployeeModal'+lophoc_giaovien[index][0]|string}} class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action='/admin/del_teacher_class' method="post">
                                <div class="modal-header">						
                                    <h4 class="modal-title">Xóa giáo viên</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">					
                                    <p>Bạn có muốn xóa không?</p>
                                </div>
                                <input name="class" value={{lophoc_giaovien[index][0]}} hidden/>
                                <input name="teacher" value={{lophoc_giaovien[index][1]}} hidden/>
                                <div class="modal-footer">
                                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                    <input type="submit" class="btn btn-danger" value="Delete">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <a href={{'#updateEmployeeModal'+lophoc_giaovien[index][0]|string}} class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Update">&#xe3c9;</i></a>
                <div id={{'updateEmployeeModal'+lophoc_giaovien[index][0]|string}} class="modal fade">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <form id="user-form" method="POST" action='/admin/update_teacher_class'>
                        <div class="modal-header">
                          <h4 class="modal-title">Cập nhật phân công giáo viên</h4>
                          <a href="">&times;</a>
                        </div>
                        <div class="modal-body">
                          <label>Lớp học</label>
                          <input value='{{lophoc_giaovien[index][1]}}' class="form-control" disabled/>
                          <input value='{{lophoc_giaovien[index][0]}}' name='class' hidden/>
                          <input value='{{lophoc_giaovien[index][1]}}' name='teacher1' hidden/>
                          <label>Giáo viên</label>
                          <select class="custom-select" name='teacher'>
                            <option>Giáo viên</option>
                            {% for x in  giaovien %}
                              <option value={{x[0]}}
                                {% if lophoc_giaovien[index][1] == x[0] %}
                                  selected
                                {% endif %}
                              >{{x[1]}}</option>
                            {% endfor %}
                          </select>
                        <div class="modal-footer">
                          <input
                            type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                            value="Cancel"
                          />
                          <input type="submit" class="btn btn-success" value="Cập nhật" />
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
<!-- Edit Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="user-form" method="POST" action='/admin/add_teacher_class'>
        <div class="modal-header">
          <h4 class="modal-title">Thêm Phân công giáo viên</h4>
          <a href="">&times;</a>
        </div>
        <div class="modal-body">
          <select class="custom-select" name='class'>
            <option selected>Lớp học</option>
            {% for x in  classes %}
              <option value={{x[0]}}>
                 {{x[1]}}
              </option>
            {% endfor %}
          </select>
          <select class="custom-select" name='teacher'>
            <option selected>Giáo viên</option>
            {% for x in  giaovien %}
              <option value={{x[0]}}>{{x[1]}}</option>
            {% endfor %}
          </select>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input type="submit" class="btn btn-success" value="Add" />
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Edit Employee</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Address</label>
            <textarea class="form-control" required></textarea>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" required />
          </div>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input type="submit" class="btn btn-info" value="Save" />
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
